/*---------------- Header ----------------*/

@import "./variables";

.header {
  .nav {
    background-image: url(../assets/img/arrayanes1.jpg);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    width: 100%;

    .nav__logo {
      background-color: rgba(235, 194, 99, 0.8);
      opacity: 0.75;

      width: 8rem;
      height: 8rem;
    }

    .nav__list {
      background-color: $blood;
      width: 100%;
      padding: 12px;
      text-align: center;
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: stretch;
      gap: 2rem;
      flex-wrap: wrap;

      .nav__item {
        list-style-type: none;
        list-style-position: outside;
        letter-spacing: 0.75px;

        position: relative;

        padding: 8px 0px;

        display: inline-block;

        .nav__link {
          color: $earthy !important;

          display: block;

          font-size: 1.07rem;
          font-weight: 425;

          padding: 0px 10px;
          margin-left: 5px;
          margin-right: 5px;
        }

        .nav__link:hover {
          color: #07791a !important;
          background-color: rgb(119, 9, 27);
        }
      }
    }
  }
}
