@import "./variables";
@import "./media-queries";

/*---------------- Index ----------------*/

.index {
  width: 100%;
  height: auto;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  &__contenedorleyenda {
    @include mobile {
      width: 100%;
      margin-bottom: 10px;
    }

    @include tablet {
      margin-bottom: 10px;
    }

    &__leyenda {
      color: $navyblue;

      font-size: 1.182rem;

      font-weight: bold;

      text-align: center;

      margin-top: 15px;
      margin-bottom: 15px;

      @include mobile {
        align-self: center;

        margin-top: 5px;
        margin-bottom: 10px;

        padding: 0px 5px;
        padding-top: 15px;
      }

      @include tablet {
        font-size: 100%;
        align-self: center;

        margin-top: 10px;
        margin-bottom: 5px;

        padding: 0px 5px;
        padding-top: 15px;
      }
    }
  }

  &__carousel {
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 10px;
    }

    @include tablet {
      width: 100%;
    }
  }

  &__contenedorvideo {
    @include mobile {
      justify-self: start;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }

    @include tablet {
      width: 100%;

      height: 22.5rem;
    }

    &__video {
      padding-bottom: $pb-standard;

      @include mobile {
        width: 100%;
        height: 12rem;
        padding-bottom: 0px;
      }

      @include tablet {
        width: 100%;
        height: 100%;
        padding-bottom: $pb-standard;
      }
    }
  }
}
